.sub-content {
	.sub-visual {
		opacity: 0;
		transition: opacity 0.7s;

		figure {
			width: 100%;
			height: 280px;
			background: #f7f7f7;
			margin-bottom: -132px;
		}

		.title-wrap {
			width: $subContainer;
			margin: 0 auto;

			.bread-crumb {
				font-size: 16px;
				font-weight: 700;
				color: #333;
				letter-spacing: 5px;
				margin-bottom: 10px;
			}

			h1 {
				font-family: 'Noto Serif KR';
				font-size: 52px;
				font-weight: 900;
				line-height: 1.3;
				color: #2ba9a9;
			}
		}
	}

	.sub-inner {
		opacity: 0;
		transform: translateY(200px);
		transition-property: opacity, transform;
		transition-duration: 0.5s;
		transition-delay: 0.3s;
	}
}

.sub-content.on {
	.sub-visual {
		opacity: 1;
	}
	.sub-inner {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width: $subContainer) {
	.sub-content {
		.sub-visual {
			.title-wrap {
				width: 100%;
				padding: 0 $responsePadding;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.sub-content {
		.sub-visual {
			figure {
				height: 240px;
				margin-bottom: -110px;
			}

			.title-wrap {
				.bread-crumb {
					font-size: 14px;
				}

				h1 {
					font-size: 40px;
				}
			}
		}
	}
}
