$slideLength: 5;
$slideWidth: 500px;

#main-comment-list {
	display: flex;
	justify-content: flex-end;
	background: #f7f7f7;
	padding: 100px 0;

	.inner-container {
		width: calc(calc(calc(100% - $mainContainer) / 2) + $mainContainer);

		.title-wrap {
			margin-bottom: 50px;

			h1 {
				@include mainTitle();
			}

			p {
				@include mainSubTitle();
				margin-top: 15px;
			}

			.btn-more {
				display: block;
				width: 130px;
				height: 40px;
				font-size: 14px;
				font-weight: 300;
				line-height: 40px;
				color: #fff;
				background: #4eb3b3;
				text-align: center;
				margin-top: 25px;
			}
		}

		.slide-wrap {
			overflow: hidden;
			position: relative;

			.panel {
				// width: calc($slideWidth * $slideLength);
				display: flex;
				align-items: center;

				.swiper-slide {
					width: $slideWidth;
					padding-bottom: 85px;

					.profile-box {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 70px;
						height: 70px;
						background: #ffbd45;
						border-radius: 50%;
						overflow: hidden;
						margin-left: 35px;
						font-size: 20px;
						color: #333;
						position: relative;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					.info-box {
						height: 285px;
						margin-top: -35px;
						background: #fff;
						box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
						padding: 50px 30px 30px;

						h2 {
							font-family: 'Noto Serif KR';
							font-size: 22px;
							font-weight: 900;
							color: #333;
							margin-bottom: 15px;
						}

						p {
							font-size: 15px;
							font-weight: 300;
							line-height: 1.5;
							color: #777;
							white-space: pre-line;

							white-space: normal;
							display: -webkit-box;
							-webkit-line-clamp: 3;
							-webkit-box-orient: vertical;
							overflow: hidden;

							&.user {
								font-weight: 700;
								color: #333;
								margin-top: 20px;
							}
						}
					}
				}
			}

			.indicator {
				position: absolute;
				bottom: 0;
				left: calc($mainContainer - 180px);
				display: flex;
				align-items: center;
				z-index: 1;

				.btn-arrow {
					display: flex;
					align-items: center;
					gap: 10px;
					margin-right: 20px;

					> button {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 35px;
						height: 35px;
						background: #d7d7d7;
						color: #333;
						cursor: pointer;
					}
				}

				.btn-controls {
					display: flex;
					align-items: center;

					button {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						border: 2px solid #333;
						font-size: 13px;
						color: #333;
						cursor: pointer;
						transition: 0.2s;

						&:not(:first-child) {
							margin-left: 10px;
						}

						&.on {
							background: #333;
							color: white;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mainContainer) {
	#main-comment-list {
		.inner-container {
			width: 100%;
			padding: 0 $responsePadding;

			.slide-wrap {
				.indicator {
					left: auto;
					right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#main-comment-list {
		padding: 100px 0 70px;

		.inner-container {
			.title-wrap {
				h1 {
					font-size: 25px;
				}

				.btn-more {
					width: 120px;
					height: 35px;
					font-size: 12px;
					line-height: 35px;
				}
			}
		}
	}
}

@media screen and (max-width: 520px) {
	#main-comment-list {
		.inner-container {
			.slide-wrap {
				.panel {
					// width: calc(100% * $slideLength);

					.swiper-slide {
						width: calc(100% - 50px);
					}
				}
			}
		}
	}
}
