.scroll-navi {
	position: fixed;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	z-index: 2;

	li {
		width: 10px;
		height: 10px;
		border-radius: 50px;
		background: #4eb3b3;
		transition: 0.2s;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
		cursor: pointer;

		&:not(:first-child) {
			margin-top: 13px;
		}

		&.on {
			height: 40px;
		}
	}
}

@media screen and (max-width: 1300px) {
	.scroll-navi {
		display: none;
	}
}
