.sign-in {
	background: #f7f7f7;
	padding: 120px 0;

	.inner-container {
		width: $subContainer;
		margin: 0 auto;
		display: flex;
		justify-content: center;

		.signin-box {
			width: 500px;
			background: #fff;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
			padding: 75px 50px;

			.top-wrap {
				text-align: center;

				h1 {
					font-family: 'Noto Serif KR';
					font-size: 40px;
					font-weight: 900;
					line-height: 1.2;
					color: #069797;
				}
			}

			.form-signin {
				margin-top: 35px;

				.input-box {
					&:not(:first-child) {
						margin-top: 25px;
					}

					.tit {
						display: block;
						font-size: 14px;
						color: #999;
						margin-bottom: 7px;
					}

					input[type='text'],
					input[type='password'] {
						width: 100%;
						height: 50px;
						background: #f7f7f7;
						padding: 0 15px;
						border: none;
						outline: none;
						font-family: 'Noto Sans KR';
						font-size: 14px;
						color: #333;

						&::placeholder {
							font-size: 13px;
							color: #bfbfbf;
						}
					}
				}

				.btn-wrap {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					margin-top: 70px;

					input,
					button {
						width: 150px;
						height: 45px;
						font-size: 14px;
						font-weight: 300;
						line-height: 45px;
						color: #fff;
						border: none;
						background: #4eb3b3;
						cursor: pointer;

						&:not(:first-child) {
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $subContainer) {
	.sign-in {
		.inner-container {
			width: 100%;
			padding: 0 $responsePadding;
		}
	}
}

@media screen and (max-width: $mobile) {
	.sign-in {
		padding: 80px 0 100px;

		.inner-container {
			.signin-box {
				width: 100%;
				padding: 75px 20px;

				.top-wrap {
					h1 {
						font-size: 32px;
					}
				}

				.form-signin {
					.btn-wrap {
						input,
						button {
							flex: 1;
						}
					}
				}
			}
		}
	}
}
