.sub-youtube {
	.list-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 30px;

		article {
			width: calc(33.3333% - 20px);
			background: #f7f7f7;
			border-radius: 10px;
			padding: 30px 35px;
			position: relative;

			&::before {
				content: '';
				display: block;
				width: 5px;
				height: 35px;
				position: absolute;
				top: 30px;
				left: 0;
				background: #4eb3b3;
			}

			h3 {
				font-size: 17px;
				font-weight: 700;
				line-height: 1.4;
				color: #333;

				white-space: normal;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			.date {
				font-size: 15px;
				font-weight: 300;
				color: #777;
				margin-top: 10px;
			}

			.video {
				width: 100%;
				position: relative;
				background: #eee;
				margin-top: 25px;
				cursor: pointer;

				&::before {
					content: '';
					display: block;
					padding-top: 55%;
				}

				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.btn-more {
				width: 100%;
				display: flex;
				align-items: center;
				color: #069797;
				padding-top: 25px;
				cursor: pointer;

				svg {
					font-size: 20px;
					margin-right: 10px;
				}

				span {
					font-size: 15px;
					font-weight: 700;
				}
			}
		}
	}

	.top-wrap {
		padding: 120px 0;

		.inner-container {
			width: $subContainer;
			margin: 0 auto;
		}
	}

	.pick-wrap {
		padding: 70px 0 100px;
		position: relative;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 67%;
			background: #ddf4f4;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}

		.inner-container {
			width: 850px;
			margin: 0 auto;

			.title-wrap {
				display: flex;
				align-items: flex-start;

				> p {
					width: 20%;
					font-family: 'Noto Serif KR';
					font-size: 22px;
					font-weight: 900;
					color: #4eb3b3;
					margin-top: 10px;
				}

				.inner-title {
					width: 80%;

					h2 {
						font-family: 'Noto Serif KR';
						font-size: 30px;
						font-weight: 900;
						line-height: 1.5;
						color: #333;
					}

					.date {
						font-size: 20px;
						font-weight: 300;
						color: #333;
						margin-top: 15px;
					}
				}
			}

			.video {
				width: 100%;
				height: 430px;
				background: #c3c3c3;
				margin-top: 50px;
				cursor: pointer;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	.bottom-wrap {
		padding: 100px 0;

		.inner-container {
			width: $subContainer;
			margin: 0 auto;

			h2 {
				font-family: 'Noto Serif KR';
				font-size: 34px;
				font-weight: 900;
				color: #333;
				margin-bottom: 40px;
			}
		}
	}
}

@media screen and (max-width: $subContainer) {
	.sub-youtube {
		.top-wrap {
			.inner-container {
				width: 100%;
				padding: 0 $responsePadding;
			}
		}

		.bottom-wrap {
			.inner-container {
				width: 100%;
				padding: 0 $responsePadding;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.sub-youtube {
		.list-wrap {
			article {
				width: calc(50% - 15px);
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.sub-youtube {
		.pick-wrap {
			.inner-container {
				width: 100%;
				padding: 0 $responsePadding;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.sub-youtube {
		.list-wrap {
			article {
				width: 100%;
				padding: 20px 25px;

				h3 {
					font-size: 16px;
				}

				.date {
					font-size: 14px;
				}

				.btn-more {
					svg {
						font-size: 18px;
					}

					span {
						font-size: 14px;
					}
				}
			}
		}

		.top-wrap {
			padding: 120px 0 100px;
		}

		.pick-wrap {
			.inner-container {
				.title-wrap {
					display: block;

					> p {
						width: 100%;
						font-size: 20px;
						margin-top: 0;
					}

					.inner-title {
						width: 100%;
						margin-top: 15px;

						h2 {
							font-size: 24px;
						}

						.date {
							font-size: 16px;
							margin-top: 10px;
						}
					}
				}

				.video {
					height: 230px;
				}
			}
		}

		.bottom-wrap {
			padding: 50px 0 100px;

			.inner-container {
				h2 {
					font-size: 25px;
					margin-bottom: 35px;
				}
			}
		}
	}
}
