// variable
$tablet: 999px;
$mobile: 599px;
$mainContainer: 1200px;
$subContainer: 1200px;
$responsePadding: 20px;

@mixin mainTitle($family: 'Noto Serif KR', $size: 34px, $weight: 900, $color: #333) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	color: $color;
}
@mixin mainSubTitle($size: 16px, $weight: 300, $line-height: 1.7, $color: #777) {
	font-size: $size;
	font-weight: $weight;
	line-height: $line-height;
	color: $color;
}

@import 'common/reset';
@import 'common/header';
@import 'common/footer';
@import 'common/subLayout';
@import 'common/modal';
@import 'common/fonts';
@import 'common/btnTop';

@import 'main/visual';
@import 'main/bookList';
@import 'main/mainGallery';
@import 'main/mainYoutube';
@import 'main/mainComment';
@import 'main/mainLocation';

@import 'sub/members';
@import 'sub/gallery';
@import 'sub/youtube';
@import 'sub/comment';
@import 'sub/contact';
@import 'sub/signup';
